{% extends 'base.html.twig' %}

{% block title %}Изменение поста{% endblock %}

{% block body %}
    <div class="second text-center">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="col-md-12 col-lg-12">Изменить пост</h1>
                <div class="col-md-6 col-lg-6">
                {{ include('post/_form.html.twig', {'button_label': 'Обновить'}) }}
                </div>
                <div class="col-md-12 col-lg-12">
                    <a class="btn btn-warning" href="{{ path('post_index') }}">Вернуться к новостям</a>
                </div>
                {{ include('post/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
